
@mixin button() {
  width: 33%;
  font-size: 30px;
  border-radius: 0px;
  background-color: transparent;
}

/* fjdslkfjdklf */

$bgc: #ff0;

.GopherButton {
  @include button();
  &:hover {
    background-color: $bgc;
  }
}
