@import "./var";

.img {
  left: 50%;
  position: absolute;
  transition: top .5s, transform .5s;
}

.middle {
  top: 50%;
  transform: translate(-50%, -50%);
}

.top {
  top: 0%;
  transform: translate(-50%, -100%);
}

.bottom {
  top : 100%;
  transform: translate(-50%, 0);
}

.morn {
  background-color: #62c2ee;
}

.night {
  background-color: $black;
}

.sky {
  width: 100%;
  height: 100vh;
  padding: 25px;
  position: fixed;
  transition: background-color .5s;
}

