body {
  text-align: center;
}

/* .white {
  background-color: #fff;
}

.gray {
  height: 100vh;
  background-color: #777;
} */

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .7);
}

.button {
  font-size: 18px;
  background-color: blue;
  color: white;
  border-radius: 10%;
}

.modal-content {
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 15px;
  border-radius: 3%;
  position: absolute;
  background-color: #fff;
  border: 1px solid #777;
  transform: translate(-50%, -50%);
}

.top {
  top: 20px;
  transform: translate(-50%, 0);
}

@keyframes fromOutSideToScreen {
  from {
    top: 0;
    transform: translate(-50%, -100%);
  }
  to {
    top: 20;
    transform: translate(-50%, -50%);
  }
}

.animation {
  animation-name: fromOutSideToScreen;
  animation-duration: .3s;
}

@keyframes fromOutSideToScreenTop {
  from {
    top: 0;
    transform: translate(-50%, -100%);
  }
  to {
    top: 20;
    transform: translate(-50%, 0);
  }
}

.top.animation {
  animation-name: fromOutSideToScreenTop;
  animation-duration: .3s;
}

.modal-top {
  position: absolute;
  background-color: #fff;
  margin: auto;
  padding: 15px;
  border: 1px solid #777;
  border-radius: 3%;
  width: 300px;
  top: 3%;
  left: 37%;
}

/* 如果你想要加漸變動畫，應先定義動畫內容 */
@keyframes opacityAni {
  from { transform: translate(115%, -90%); }
  to   { transform: translate(115%, 10%); }
}
/* transition不也是動畫嗎 我記得你是教我這個 不過這樣就多學一個了 */

.modal-animation {
  position: absolute;
  background-color: #fff;
  margin: auto;
  padding: 15px;
  border: 1px solid #777;
  border-radius: 3%;
  width: 300px;
  transform: translate(115%, 10%);
  /* 然後在這邊去套用 */
  animation-name: opacityAni; /* 套用動畫名 */
  animation-duration: .3s;    /* 動畫維持秒數 */
  animation-fill-mode: forwards; /* 動畫結束後動作 */
  /* 這後最段不太懂意思 動畫的開始跟結束不是在上面就定義好了 結束動作會有什麼變化嗎 */
}