body {
  text-align: center;
}

.white {
  background-color: #fff;
}

.gray {
  height: 100vh;
  background-color: #777;
}

.button {
  font-size: 18px;
  background-color: blue;
  color: white;
  border-radius: 10%;
}

.modal-content {
  position: absolute;
  background-color: #fff;
  margin: auto;
  padding: 15px;
  border: 1px solid #777;
  border-radius: 3%;
  width: 300px;
  top: 45%;
  left: 37%;
}

.modal-top {
  position: absolute;
  background-color: #fff;
  margin: auto;
  padding: 15px;
  border: 1px solid #777;
  border-radius: 3%;
  width: 300px;
  top: 3%;
  left: 37%;
}

.modal-animation {
  position: absolute;
  background-color: #fff;
  margin: auto;
  padding: 15px;
  border: 1px solid #777;
  border-radius: 3%;
  width: 300px;
  transition: .5s;
  transform: translate(115%, 10%);
}