body {
  text-align: center;
}
.btn {
  background-color: blue;
  width: 70px;
  color: white;
  padding: 10px;
  font-size: 15px;
}
.tooltip-wrapper {
  position: relative;
}

.tooltip-wrapper:hover .tooltip {
  display: block;
}
.text {
  color: red;
}

.tooltip {
  position: absolute;
  width: 100px;
  background-color: #000;
  color: #fff;
  display: none;
}

.tooltip.top {
  top: -10px;
  left: 50%;
  transform: translate(-50%, -100%);
}
.tooltip.bottom {
  top: 10px;
  left: 50%;
  transform: translate(-50%, 100%);
}
.tooltip.right {
  top: 50%;
  left:110%;
  transform: translateY(-50%);
}
.tooltip.left {
  top: 50%;
  right: 110%;
  transform: translateY(-50%);
}

.tooltip.top:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  position: absolute;
}
.tooltip.bottom:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #000 transparent;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  position: absolute;
}
.tooltip.right:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 10px 5px 0;
  border-color: transparent #000 transparent transparent;
  bottom: 50%;
  left: 0;
  transform: translate(-50%, 50%);
  position: absolute;
}
.tooltip.left:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #000;
  right: 0;
  bottom: 50%;
  transform: translate(50%, 50%);
  position: absolute;
}